@* @model ResetPasswordVM
@inject IHtmlLocalizer<ModelResource> Localizer;

<form asp-action="ResetPassword" method="post">
    <input type="hidden" asp-for="Token" />
    <input type="hidden" asp-for="Email" />
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
    </div>
    <div>
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" />
    </div>
    <button type="submit">@Localizer["Reset Password"]</button>

</form> *@
@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model ResetPasswordVM
@inject IHtmlLocalizer<ModelResource> Localizer;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title> Admin & Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="MyraStudio" name="author" />
    <meta http-equiv="MelodyBurger" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/Admin/vertical/assets/images/favicon.ico">

    <!-- App css -->
    <link href="~/Admin/vertical/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Admin/vertical/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Admin/vertical/assets/css/theme.min.css" rel="stylesheet" type="text/css" />


</head>

<body>

    <div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex align-items-center min-vh-100">
                        <div class="w-100 d-block bg-white shadow-lg rounded my-5">
                           
                            <div class="row">
                                <div class="col-lg-5 d-none d-lg-block bg-login rounded-left">
                                    <img src="~/Admin/img/eb0517b123.jpg" alt="Login Image" class="img-fluid rounded-left" style="height: 100%; width: 100%; object-fit: cover;">
                                </div>
                                
                                <div class="col-lg-7">
                                    <div class="p-5">
                                    
                                        <h1 class="h4 mb-1">@Localizer["Reset Password"]</h1>
                                        
                                        <p class="text-muted mb-4">@Localizer["Enter your new password"]</p>


                                        <form form asp-action="ResetPassword" method="post">
                                            <input type="hidden" asp-for="Token" />
                                            <input type="hidden" asp-for="Email" />
                                            @* <div class="form-group">
                                                <input asp-for="Password" class="form-control form-control-user" placeholder="@Localizer["New Password"]">
                                            </div>
                                            <div class="form-group">
                                                <input asp-for="ConfirmPassword" class="form-control form-control-user" placeholder="@Localizer["Reenter Password"]">
                                            </div> *@

                                            <div class="form-group position-relative">
                                                <input asp-for="Password" type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="@Localizer["New Password"]">
                                                <div class="position-absolute icon-container">
                                                    <i class="feather-eye" id="togglePassword"></i>
                                                    <i class="feather-eye-off d-none" id="togglePasswordOff"></i>
                                                </div>
                                                <span asp-validation-for="Password" class="text-danger"></span>
                                            </div>
                                            <div class="form-group position-relative">
                                                <input asp-for="ConfirmPassword" type="password" class="form-control form-control-user" placeholder="@Localizer["Reenter Password"]">
                                                <div class="position-absolute icon-container">
                                                    <i class="feather-eye" id="togglePassword"></i>
                                                    <i class="feather-eye-off d-none" id="togglePasswordOff"></i>
                                                </div>
                                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                            </div>

                                            <div class="g-recaptcha" data-sitekey="6LcwjAgqAAAAALGMpm6GswwSLUOv49uLeHD51UrQ"></div>
                                            <button type="submit" class="btn btn-primary">@Localizer["Reset Password"]</button>

                                            @if (TempData["ErrorMessage"] != null)
                                            {
                                                <div class="alert alert-danger mt-2">@TempData["ErrorMessage"]</div>
                                            }

                                         </form>

                                     

                                        @* <div class="row mt-4">
                                            <div class="col-12 text-center">
                                                
                                                <p class="text-muted mb-0">@Localizer["Don't have an account?"] <a href="pages-register.html" class="text-muted font-weight-medium ml-1"><b>@Localizer["Sign Up"]</b></a></p>
                                            </div> <!-- end col -->
                                        </div> *@
                                        <!-- end row -->
                                    </div> <!-- end .padding-5 -->
                                </div> <!-- end col -->
                            </div> <!-- end row -->
                        </div> <!-- end .w-100 -->
                    </div> <!-- end .d-flex -->
                </div> <!-- end col-->
            </div> <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end page -->
    <!-- jQuery  -->
    <script src="~/Admin/vertical/assets/js/jquery.min.js"></script>
    <script src="~/Admin/vertical/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/Admin/vertical/assets/js/metismenu.min.js"></script>
    <script src="~/Admin/vertical/assets/js/waves.js"></script>
    <script src="~/Admin/vertical/assets/js/simplebar.min.js"></script>
    <style>
        .icon-container {
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
        }

        .position-relative {
            position: relative;
        }

        .position-absolute {
            position: absolute;
        }
    </style>

    <script>
        document.getElementById('togglePassword').addEventListener('click', function () {
            const passwordField = document.getElementById('exampleInputPassword');
            const togglePassword = document.getElementById('togglePassword');
            const togglePasswordOff = document.getElementById('togglePasswordOff');

            if (passwordField.type === 'password') {
                passwordField.type = 'text';
                togglePassword.classList.add('d-none');
                togglePasswordOff.classList.remove('d-none');
            } else {
                passwordField.type = 'password';
                togglePassword.classList.remove('d-none');
                togglePasswordOff.classList.add('d-none');
            }
        });

        document.getElementById('togglePasswordOff').addEventListener('click', function () {
            const passwordField = document.getElementById('exampleInputPassword');
            const togglePassword = document.getElementById('togglePassword');
            const togglePasswordOff = document.getElementById('togglePasswordOff');

            if (passwordField.type === 'text') {
                passwordField.type = 'password';
                togglePassword.classList.remove('d-none');
                togglePasswordOff.classList.add('d-none');
            }
        });
    </script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

</body>

</html>