@model RestaurantApp.UI.Areas.Admin.Models.AdminVMs.AdminAdminChangePasswordVM
@using Microsoft.Extensions.Options
@using RestaurantApp.Domain.Entities.GoogleCaptchas
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}
@inject IOptions<GoogleCaptchaConfig> GoogleCaptchaConfig


<body>

    <!-- Begin page -->
    <div id="layout-wrapper">


        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-flex align-items-center justify-content-between">
                                <h4 class="mb-0 font-size-18">@Localizer["Change Password"]</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row">
                        <div class="col-md-4">

                            <form asp-action="ChangePassword">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <input type="hidden" asp-for="Id" />
                                </div>
                                <div class="form-group position-relative">
                                    <div class="form-group position-relative">
                                        <input asp-for="CurrentPassword" type="password" class="form-control form-control-user password-field" id="CurrentPassword" placeholder="@Localizer["Current Password"]">
                                        <div class="position-absolute icon-container">
                                            <i class="feather-eye" id="togglePassword"></i>
                                        </div>
                                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                                    </div>
                                    <div class="form-group position-relative">
                                        <input asp-for="NewPassword" type="password" class="form-control form-control-user password-field" id="NewPassword" placeholder="@Localizer["New Password"]">
                                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                                    </div>
                                    <div class="form-group position-relative">
                                        <input asp-for="ConfirmNewPassword" type="password" class="form-control form-control-user password-field" id="ConfirmNewPassword" placeholder="@Localizer["Confirm New Password"]">
                                        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                                    </div>
                                    @* <input type="hidden" id="ChangePasswordVMToken" asp-for="Token" /> *@
                                    <div class="g-recaptcha" data-sitekey="6LcwjAgqAAAAALGMpm6GswwSLUOv49uLeHD51UrQ"></div>

                                    <div class="form-group">
                                        <input type="submit" value=@Localizer["Save"] class="btn btn-primary" />
                                    </div>
                                    <div>
                                        <br />
                                        @* <a asp-action="Index">@Localizer["Back"]</a> *@
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->


        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->
    <!-- Overlay-->
    @* <script src="https://www.google.com/recaptcha/api.js?render=@GoogleCaptchaConfig.Value.SiteKey"></script> *@
    <div class="menu-overlay"></div>

    <style>
        .icon-container {
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
        }

        .position-relative {
            position: relative;
        }

        .position-absolute {
            position: absolute;
        }
    </style>


    <script>
        document.getElementById('togglePassword').addEventListener('click', function () {
            const passwordFields = document.querySelectorAll('.password-field');
            const togglePassword = document.getElementById('togglePassword');

            const firstPasswordField = passwordFields[0];
            const isPasswordVisible = firstPasswordField.type === 'text';


            passwordFields.forEach(function (passwordField) {

                if (isPasswordVisible) {
                    passwordField.type = 'password';
                    togglePassword.classList.remove('feather-eye-off');
                    togglePassword.classList.add('feather-eye');
                } else {
                    passwordField.type = 'text';
                    togglePassword.classList.add('feather-eye-off');
                    togglePassword.classList.remove('feather-eye');
                }
            });
        });
    </script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    @* <script>
    $(function () {

    grecaptcha.ready(function () {
    grecaptcha.execute('@GoogleCaptchaConfig.Value.SiteKey', { action: 'submit' }).then(function (token) {
    // Add your logic to submit to your backend server here.
    console.log(token);
    document.getElementById("ChangePasswordVMToken").value = token;
    });
    });
    });

    </script> *@
</body>